<div class=" flex h-screen">
  <div class="w-[50%]">
    <form (ngSubmit)="onFormSubmit()" [formGroup]="driverForm">

      <h1 class="py-10 font-extrabold text-5xl">Add Driver</h1>

      <div class="mt-2">

        <label for="name" class="font-bold">Name</label>
        <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="name">
        <label for="name" class="font-bold">Number</label>
        <input type="number" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="number">
        <label for="name" class="font-bold">team</label>
        <input type="text" class="w-full p-2 border-2 rounded-sm mt-2" formControlName="team">

      </div>

      <div class="mt-2">
         <button type="submit" class="bg-slate-800 transition duration-300 ease-in-out text-white px-4 py-2 rounded-sm w-full">Add</button>
      </div>

    </form>
  </div>
  <div class="w-[50%] overflow-auto">

    @if (drivers$ | async; as drivers){

      @if(drivers.length){
    
        <ul>
          @for(item of drivers; track $index){
            <li class="p-2 bg-slate-100 border-b-2 border-slate-200  group relative ">
              
              <div class="flex justify-between items-center">
                <span class="font-light text-3xl">{{item.name}}</span>
                <span class="font-light text-xl">{{item.team}}</span>
                <span class="font-light text-3xl">{{item.number}}</span>
                <button class="bg-red-500 text-white px-3 py-1 rounded shadow-xl hidden group-hover:block ">Delete</button>
              </div>
            </li>
          }
        </ul>
    
      }
      @else{
    
        <p>No data found</p>
    
      }
    
    }

  </div>
</div>




